{
  "name": "{{name}}",
  "version": "0.0.1",
  "description": "{{description}}",
  "keywords": [{{keywords}}],
  "skills": ["./skills"],
  "agents": [],
  "commands": [],
  "hooks": "./hooks/claude.json",
  "mcpServers": "./.mcp.json"
}
